body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow-x: hidden;
  background: #aaa;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 444;
}

header .top {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: rgb(16, 3, 87);
  z-index: 5;
}

header .top .search {
  float: right;
  position: relative;
  padding: 14px 0px;
  padding-left: 5px;
  margin-left: 20px;
  margin-right: 70px;
}

header .top .search a {
  display: inline-block;
}

header .top .search .search-drop {
  position: absolute;
  width: 240px;
  top: 55px;
  right: -15px;
  background: #eaeaea;
  padding: 5px;
  display: none;
}

header .top .lang {
  float: right;
  position: relative;
  padding-right: 20px;
  padding: 14px 0px;
}

header .top .lang .lang-drop .lang-item {
  list-style: none;
}

header .top .lang .lang-drop .lang-item .lang-link {
  display: inline-block;
  color: white;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

header .bot {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 38px;
  background: transparent;
}

header .bot .wrapper {
  position: relative;
}

header .bot .navbar .nav-item:hover .nav-link {
  color: #1b2287;
}

header .bot .navbar .dropdown-menu .fade-down {
  top: 80%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
}

header .bot .navbar .nav-item:hover .dropdown-menu {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}

#navbarSupportedContent {
  transition: height 1.5s ease;
}

.middle-content {
  background: #f5f5f5;
  position: relative;
  z-index: 2;
}

.banner-std {
  z-index: 1;
}

.banner-std img {
  display: block;
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.content-std {
  background: #fff;
  z-index: 5;
  position: relative;
}

.content-std .inner-content {
  padding: 70px 210px 125px;
  position: relative;
  box-sizing: border-box;
}

.content-std h1 {
  position: relative;
  font-size: 38px;
  font-weight: 700;
  color: #1b2287;
  padding-bottom: 30px;
  margin-bottom: 45px;
  max-width: 680px;
}

.content-std h1:after {
  content: "";
  width: 100px;
  height: 3px;
  background: #1b2287;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide-overview {
  margin-bottom: 50px;
  position: relative;
}

.sub-content {
  position: relative;
}

.carousel-indicators button {
  border-radius: 100%;
  height: 10px !important;
  width: 10px !important;
  margin: 0 10px !important;
  background-color: #aaa;
}

.box-share-right {
  position: fixed;
  top: 40%;
  width: 50px;
  height: 145px;
  z-index: 9999;
  right: 0;
  background: #1b2287;
}

footer {
  display: block;
  position: relative;
}

footer .top-footer {
  padding: 40px 60px;
  background: #1b2287;
  width: 100%;
  height: 18rem;
}

footer .top-footer .top-info {
  width: 100%;
}

footer .top-footer .col .address .part {
  height: 80px;
  width: 300px;
  float: left;
  color: #fff;
  padding-left: 57px;
}
